.main-container{
    font-family: Arial, Helvetica, sans-serif;
}

.first-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: #1F2937;
    padding: 0 8rem 0 7rem;
}



.left-side{
    flex-basis: 45%;
    padding-right: 0rem;
}

.left-side, .right-side{
    padding-bottom: 13rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 900,
  'GRAD' 0,
  'opsz' 48;
  font-size: 50px;
  color:rgb(16, 216, 16);
}

section header h3{
    font-size: 40px;
    color: #babcc0;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    font-family: sofia, Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.top-left-container{
    margin-top: 8rem;
}

 .top-left-container h2{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0;
    margin-top: 50px;
}

section p{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}
section button{
    color: #e5e7eb;
    background-color: #3882f6;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 120px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
a:hover{
    color: #1F2937;
    background-color: #e5e7eb;
}


.right-side{
    flex-basis: 55%;
    justify-content: flex-end;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li{
    display: inline-block;
}
nav a{
    display: block;
    text-decoration: none;
    margin-right: 1rem;
    color: #F9FAF8;
    font-size: 18px;
    margin-top: 1.5rem;
    
}

.top-image img{
    margin: 180px 0 30px 50px;
    height: 200px;
    width: 500px;
}

.random-info{
    margin: 0;
    text-align: center;
    padding: 1rem;
    color:  #1F2937;
    font-size: 24px;
    font-weight: bolder;
}
.second-container{
display: flex;
height: 200px;
justify-content: center;
}

 .second-container img{
    width: 160px;
    height: 180px;
    margin: 20px;
    margin-bottom: 0;
 }

 .text-container{
    display: flex;
    height: 110px;
    justify-content: center;
    margin-bottom: 100px;
    }
    
.text-container > div{
    width: 160px;
    margin:20px;
    padding-top: 0;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    color: #1F2937;
    text-align: center;
}

.main-container .quote-text{
    padding: 100px 230px 50px 300px;
    background-color: #e5e7eb;
}

.quote-text h5{
    font-size: 33px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    margin-bottom: 0;
}

.main-container .quote-text p {
    font-size: 33px;
    color: #1F2937;
    margin-top: 0;
    text-align: right;
    font-weight: bold;
    padding-bottom: 30px;
}

.call-action-container{
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}

.call-action-container .action-text{
    width: 75%;
    border-radius: 10px;
    height: 150px;
    display: flex;
    padding: 10px;
    justify-content: center;
    margin-left: 150px;
    margin-right: 50px;
    background-color: #3882f6;
}

.text-space{
    flex-basis: 70%
}

.text-space h6{
    font-size: 26px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
    margin-left: 120px;
    margin-top: 40px;
}

.text-space p{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
    margin-left: 120px;
}

.action-btn{
    flex-basis: 30%;
    padding: 50px 0;
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-left: 0px;
    text-align: center;
}

.action-btn button{
    text-align: center;
    background-color: #3882f6;
    color: #e5e7eb;
    background-color: #3882f6;
    border: 2px solid #f2f4f4;
    border-radius: 10px;
    padding: 10px;
    width: 120px;
    font-size: 18px;
    font-weight: bold;
}

button:hover{
    color: #1F2937;
    background-color: #e5e7eb;
}


.footer{
    height: 100px;
    text-align: center;
    background-color: #1F2937;
    color: #e5e7eb;
    padding-top: 50px;
    font-size: 18px;
    font-weight: bold;
}